.degree {
  margin-top: 30px;
  text-align: center;
}

.para {
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
}

.learn {
  color: #f76902;
}

.learn2 {
  font-weight: bold;
}

.acc_item {
  border-bottom: 1px solid black !important;
}

.degree_list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.grad_list {
  margin-top: 40px;
}
