.container_fix {
  margin-top: 150px;
  background-color: #f76902;
  padding: 50px;
}

.text {
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.container_row {
  margin-top: 80px;
  text-align: center;
  color: #fff;
}

.col_number {
  font-size: 50px;
  font-weight: bolder;
}

.container_map {
  margin-top: 80px;
  overflow: hidden;
}

.container_jobs {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 50px;
}
