.people {
  margin-top: 30px;
  text-align: center;
}

.card_img_help {
  height: 300px !important;
}

.name_col {
  color: #f76902;
}

.directory_col {
  color: #f76902;
  font-weight: 700;
  font-size: 18px;
  margin: 30px 0;
  text-decoration: none;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.staff_gap {
  margin-top: 50px;
}
